.title {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tableCard {
  margin: 10px;
  white-space: normal;
}
